@mixin flexCenter() {
    display: flex;
    justify-content: center;
}

@mixin flexCenterAll() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpace() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
      @content;
    }
    @-moz-keyframes #{$name} {
      @content;
    }
    @-ms-keyframes #{$name} {
      @content;
    }
    @keyframes #{$name} {
      @content;
    }
  }